{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech & Sell</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <nav class="bg-black shadow-2xl">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a class="flex px-2 py-4 items-center" href="">
                            <img class="h-8 w-8" src="{% static 'myapp/images/icon2.png' %}" alt="Logo Not Found!">
                            <span class="text-white text-lg font-semibold">Tech & Sell</span>
                        </a>
                    </div>
                    <div class="flex items-center space-x-1">
                        <a class="px-2 py-4 text-white font-semibold border-b-4 border-yellow-500" href="{% url 'myapp:products' %}">Home</a>
                        <a class="px-2 py-4 text-white font-semibold border-b-4 border-yellow-500" href="{% url 'myapp:add_product' %}">Add Product</a>

                        {% if user.is_authenticated %}
                        <a class="px-10 py-4 text-white font-semibold border-b-4 border-yellow-500" href="{% url 'myapp:my_listings' %}">My List</a>
                        <a class="px-10 py-4 text-white font-semibold border-b-4 border-red-500" href="{% url 'users:logout' %}">Logout</a>
                        <a class="px-10 py-4 text-white font-semibold border-b-4 border-green-500" href="{% url 'users:profile' %}">My Profile</a>
                        {% else %}
                        <a class="px-20 py-4 text-white font-semibold border-b-4 border-green-500" href="{% url 'users:login' %}">Login</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    {% block body %}

    {% endblock body %}

</body>
</html>